#homeMessage {
    text-align: center;
}

#barraBusca {
    width: 800px;
    margin: 0 auto;
}

.anuncioTitulo {
    font-weight: bold;
    text-align: center;
}

.anuncio {
    border: 1px solid darkgrey;
    width: 360px;
    float: left;
    margin: 10px;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
}

textarea {
    resize: vertical;
}

button:focus {
    outline: none !important;
}