@(anuncios: List[Anuncio])(erro: Boolean)(finalizados: Integer)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <title>Gigs Radar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")"/>
    </head>
    <body>
        <div class="modal fade" id="formModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Anúncio</h4>
                    </div>

                    <div class="modal-body">
                        <form action="@routes.Application.novoAnuncio()" method="POST">
                            <div class="form-group">
                                <label for="inputTitulo">Título</label>
                                <input name="titulo" type="text" class="form-control" id="inputTitulo" placeholder="Meu anúncio" required pattern=".*\S+.*">
                            </div>

                            <div class="form-group">
                                <label for="inputDescricao">Descrição</label>
                                <textarea name="descricao" class="form-control" id="inputDescricao" placeholder="Meu anúncio é legal" required pattern=".*\S+.*"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="inputCidade">Cidade</label>
                                <input name="cidade" type="text" class="form-control" id="inputCidade" placeholder="Campina Grande" required pattern=".*\S+.*">
                            </div>

                            <div class="form-group">
                                <label for="inputBairro">Bairro</label>
                                <input name="bairro" type="text" class="form-control" id="inputBairro" placeholder="Centro" required pattern=".*\S+.*">
                            </div>

                            <div class="form-group">
                                <label for="inputInstrumentos">Instrumentos que toco</label>
                                <input name="instrumentos" type="text" class="form-control" id="inputInstrumentos" placeholder="Violão, Guitarra" required pattern=".*\S+.*">
                            </div>

                            <div class="form-group">
                                <label for="inputEstilos">Estilos que gosto</label>
                                <input name="estilos" type="text" class="form-control" id="inputEstilos" placeholder="Blues, Jazz">
                            </div>

                            <div class="form-group">
                                <label for="inputEstilosBanidos">Estilos que não gosto</label>
                                <input name="estilosBanidos" type="text" class="form-control" id="inputEstilosBanidos" placeholder="Funk, Pagode">
                            </div>

                            <div class="form-group">
                                <label for="inputContatos">Contatos</label>
                                <input name="contatos" type="text" class="form-control" id="inputContatos" placeholder="exemplo at gmail.com, facebook.com/exemplo"
                                required pattern=".*\S+.*">
                            </div>

                            <div class="form-group">
                                <label for="inputCodigo">Código</label>
                                <input name="codigo" type="text" class="form-control" id="inputCodigo" placeholder="meucodigosecreto" required pattern=".*\S+.*">
                            </div>

                            <div class="form-group">
                                <label>Interesse</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="interesse" id="inputContatos1" value="Banda" required>
                                        Formar uma banda
                                    </label>
                                </div>

                                <div class="radio">
                                    <label>
                                        <input type="radio" name="interesse" id="inputContatos2" value="Ocasionalmente" required>
                                        Tocar ocasionalmente
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-fixed-top header">
            <div class="col-md-12">
                <div class="navbar-header">

                    <a href="/" class="navbar-brand">Gigs Radar</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>

                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse1">
                    <form class="navbar-form pull-left">
                        <div class="input-group" style="max-width : 470 px">
                            <input id="busca" title="Separe os termos com vírgulas." type="text" class="form-control" placeholder="Guitarra, Blues, Gaita de Fole"
                            name="srch-term"
                            id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>

                            <span class="input-group-addon buscaFiltro">
                                <input id="checkInstrumentos" type="checkbox" aria-label="...">
                                Instrumentos
                            </span>

                            <span class="input-group-addon buscaFiltro">
                                <input id="checkEstilos" type="checkbox" aria-label="...">
                                Estilos preferidos
                            </span>

                            <span class="input-group-addon buscaFiltro">
                                <input id="checkInteresse" type="checkbox" aria-label="...">
                                Interesse
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="navbar navbar-default" id="subnav">
            <div class="col-md-12">
                <div class="navbar-header">

                    <a style="margin-left : 15 px" class="navbar-btn btn btn-default btn-plus" data-toggle="modal"
                    data-target="#formModal"><i class="glyphicon glyphicon-plus" style="color : #dd1111"></i>
                        Anunciar </a>

                </div>

                <div class="nav-center">
                    <h4>Gigs Radar - @finalizados gig(s) formada(s)</h4>
                </div>
            </div>
        </div>

            <!--main-->
        <div class="container" id="main">
            @if(erro) {
                <div id="erroAlerta" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    O código que você inseriu está incorreto.
                </div>
            }

            <div id="anuncios" class="row">

            @for(anuncio <- anuncios) {
                <div class="col-md-4 col-sm-6 anuncio">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="" data-toggle="modal" data-target="#finalizarModal@anuncio.getId()" class="pull-right
                        finalizarAnuncio">Finalizar</a> <h4
                        class="anuncioTitulo">@anuncio.getTitulo()</h4></div>
                        <div class="panel-body">
                            <p>@anuncio.getDescricao()</p>
                            <div class="clearfix"></div>
                            <hr>

                            <p><strong>Cidade:</strong> @anuncio.getCidade()</p>
                            <p><strong>Bairro:</strong> @anuncio.getBairro()</p>

                            <p class="anuncioInstrumentos"><strong>Instrumentos:</strong> @anuncio.getInstrumentos()</p>
                            @if(!anuncio.isEstilosEmpty) {
                                <p class="anuncioEstilos"><strong>Estilos que gosta:</strong> @anuncio.getEstilos()</p>
                            }
                            @if(!anuncio.isEstilosBanidosEmpty) {
                                <p><strong>Estilos que não gosta:</strong> @anuncio.getEstilosBanidos()</p>
                            }

                            <p><strong>Contatos:</strong> @anuncio.getContatos()</p>
                            <p class="anuncioInteresse"><strong>Interesse:</strong> @anuncio.getInteresse()</p>

                            <hr>

                            <form action="@routes.Application.fazerPergunta(anuncio.getId())" method="POST">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                    </div>
                                    <input name="pergunta" type="text" class="form-control" placeholder="Faça uma pergunta" required pattern=".*\S+.*">
                                </div>
                            </form>

                            <hr>

                            @for(conversa <- anuncio.getConversas()) {
                                @if(conversa.getPergunta() != null) {
                                    <div class="pergunta">
                                        <p>@conversa.getPergunta()</p>
                                    </div>

                                    @if(conversa.getResposta == null) {
                                        <a href="" data-toggle="modal" data-target="#responderModal@conversa.getId()" class="finalizarAnuncio">Responder</a>

                                        <div class="modal fade" id="responderModal@conversa.getId()">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Resposta</h4>
                                                    </div>

                                                    <div class="modal-body">
                                                        <form action="@routes.Application.responderPergunta(conversa.getId(), anuncio.getId())" method="POST">
                                                            <div class="form-group">
                                                                <label for="inputCodigo">Código</label>
                                                                <input name="codigo" type="text" class="form-control" id="inputCodigo" placeholder="Código do seu anúncio"
                                                                required pattern=".*\S+.*">
                                                            </div>

                                                            <div class="form-group">
                                                                <label>Resposta</label>
                                                                <input name="resposta" type="text" class="form-control" id="inputResposta" placeholder="Sua resposta"
                                                                required pattern=".*\S+.*">
                                                            </div>

                                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                                @if(conversa.getResposta != null) {
                                    <div class="resposta">
                                        <p>@conversa.getResposta()</p>
                                    </div>
                                }

                                <hr>
                                }

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="finalizarModal@anuncio.getId()">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Insira o código do seu anúncio</h4>
                            </div>

                            <div class="modal-body">
                                <form action="@routes.Application.finalizaAnuncio(anuncio.getCodigo(), anuncio.getId())" method="POST">
                                    <div class="form-group">
                                        <input name="finalizar" type="text" class="form-control" id="inputFinalizar" placeholder="Código do seu anúncio" required pattern=".*\S+.*">
                                    </div>

                                    <div class="form-group">
                                        <label>Você encontrou os parceiros que procurava?</label>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="encontrouParceiros" id="inputEncontrou1" value="Sim" required>
                                                Sim
                                            </label>
                                        </div>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="encontrouParceiros" id="inputEncontrou2" value="Não" required>
                                                Não
                                            </label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }

            </div>
        </div>

            <!-- Scripts -->
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="@routes.Assets.at("javascripts/index.js")"></script>
    </body>
</html>